In [8]:
import pandas as pd
import os

In [2]:
ori = pd.read_csv("prediction.csv")

In [3]:
ori

         session_id  item_id  rank
0               113    21107     1
1               113     5433     2
2               113     2967     3
3               113    14813     4
4               113    18876     5
...             ...      ...   ...
8161995     4439986     9184    96
8161996     4439986     7819    97
8161997     4439986     9632    98
8161998     4439986    14725    99
8161999     4439986     7444   100

[8162000 rows x 3 columns]

In [4]:
ori = ori[["session_id", "item_id"]].groupby("session_id", as_index = False).agg({'item_id':lambda x: list(x)})

In [15]:
ori[:96]

    session_id                                            item_id
0          113  [21107, 5433, 2967, 14813, 18876, 11923, 22228...
1          115  [8781, 27183, 28132, 19707, 12508, 27916, 1472...
2          261  [17341, 16130, 4977, 2099, 22909, 26642, 16572...
3          325  [14865, 18511, 2325, 17075, 19955, 23740, 2267...
4          332  [25320, 15777, 23140, 26402, 21100, 8033, 2157...
..         ...                                                ...
91        4565  [18981, 24774, 17740, 11327, 6187, 25127, 2314...
92        4583  [4130, 5933, 20629, 19882, 2915, 22747, 20409,...
93        4607  [13140, 11140, 23962, 18319, 12031, 4877, 2382...
94        4611  [4193, 23789, 18868, 27852, 14782, 15249, 1696...
95        4684  [11411, 3927, 21594, 16572, 20028, 18031, 1221...

[96 rows x 2 columns]

In [11]:
INPUT_DATA_DIR = "/home/vmagent/app/transformer4rec_recsys2022/data/origin/"
eval_paths =os.path.join(INPUT_DATA_DIR, "valid_purchases_new.csv")
valid = pd.read_csv(eval_paths)

In [14]:
valid[:96]

    session_id  item_id                     date
0          113    21107  2021-05-05 14:15:07.278
1          115    25976  2021-05-27 10:24:05.043
2          261     8840  2021-05-31 13:44:52.368
3          325     4309  2021-05-05 10:11:06.926
4          332    25415  2021-05-25 16:24:30.224
..         ...      ...                      ...
91        4565    22352  2021-05-17 12:09:10.417
92        4583    27081  2021-05-21 21:03:33.510
93        4607    16462  2021-05-12 21:22:34.248
94        4611     4193  2021-05-08 00:42:31.321
95        4684    23480  2021-05-30 09:01:15.952

[96 rows x 3 columns]

In [25]:
import glob
INPUT_DATA_DIR = "/home/vmagent/app/transformer4rec_recsys2022/data/data_feat/"
train_paths = glob.glob(os.path.join(INPUT_DATA_DIR, f"train.parquet"))
eval_paths = glob.glob(os.path.join(INPUT_DATA_DIR, f"valid.parquet"))

In [18]:
eval_paths

['/home/vmagent/app/transformer4rec_recsys2022/data/data_feat/valid.parquet']

In [19]:
train = pd.read_parquet(train_paths)

NameError: name 'valid_paths' is not defined

In [26]:
valid = pd.read_parquet(eval_paths)

In [29]:
valid["item_id-list"].values

array([array([ 6187, 19760,  2171, 15738, 21215, 17218, 21107]),
       array([19705, 10442, 15969, 19705, 10442, 16631, 19705, 16631, 25976]),
       array([17428,  3946, 17428, 19143, 26673, 25002,  8840]), ...,
       array([12508,  3237, 18969, 17588,  8414,  3237,  8414,  3237, 17036,
              20891, 23993])                                                ,
       array([16806, 16439]),
       array([23502, 13914, 13403, 19310, 12373, 27733,  2915])],
      dtype=object)

In [22]:
train_id = train["session_id"].values
train_id

array([      3,      13,      18, ..., 4439994, 4439999, 4440001])

In [23]:
valid_id = valid["session_id"].values
valid_id

array([    113,     115,     261, ..., 4439898, 4439949, 4439986])

In [24]:
set(train_id) & set(valid_id)

set()